@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito:wght@200..1000&display=swap');
/* ========== Global Theme Variables ========== */
:root {
    --primary-color: #F4C300;
    --text-color: #FFFFFF;
    --light-text-color: #ADADAD;
    --body-color: #242529;
    --card-color: #31343A;

     /* Table Colors */
    --table-bg: var(--color-gray-50);
    --table-header-bg: var(--color-gray-100);
    --table-cell-bg: #31343A;
    --table-hover-bg: #3e4146;
    --table-border-color: var(--light-text-color);
    --table-text-color: var(--text-color);
    --table-header-text-color: var(--light-text-color);

    /* Scrollbar */
    --scrollbar-track: var(--color-gray-50);
    --scrollbar-thumb: var(--color-gray-300);
}

* {
    box-sizing: border-box;
    font-family: "Nunito";
    transition: 0.3s ease;
}

body {
    display: flex;
    gap: 50px;
    padding: 40px 30px;
    height: 100vh;
    background-color: #242529;
    color: white;
}

@media (max-width: 1023px) {
    body {
        height: auto;
    }
}

/* SIDEBAR */
nav {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ADADAD;
    padding-bottom: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.sidebar i {
    background-color: transparent;
}

.sidebar a {
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding: 10px 15px;
    text-decoration: none;
    white-space: nowrap;
}
.sidebar a p {
    color: #ADADAD;
    font-weight: 600;
}
.sidebar a span {
    padding: 7px 9px;
    border-radius: 12px;
    background-color: #31343A;
}
.sidebar a span i {
    color: #F4C300;
}

.sidebar a.active {
    font-weight: 700;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    margin-bottom: 5px;
    color: #2d3748;
}
.sidebar a.active p {
    color: #2d3748;
    font-weight: 700;
}
.sidebar a.active span {
    background-color: #F4C300;
}
.sidebar a.active span i {
    color: white;
}

.sidebar a:hover {
    /* background-color: #20c997; */
    transform: scale(1.1);
}

/* COLLAPSED STATE */
nav.collapsed {
    width: 80px;
}

nav.collapsed .sidebar a p {
    display: none;
}

nav.collapsed .sidebar a span {
    margin: 0;
}

nav.collapsed .sidebar a i {
    font-size: 18px;
}

nav.collapsed .sidebar a span + * {
    display: none;
}
nav.collapsed .logo {
    display: flex;
    justify-content: center;
}
nav.collapsed .logo p {
    display: none;
}

nav.collapsed .logo button {
    left: 20px;
}

.card {
    padding: 25px;
    border-radius: 20px;
    background-color: #31343A;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
/* .card:hover {
    box-shadow: 0 0 10px rgba(151, 165, 161, 0.3);
} */

.main-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: calc(35% - 10px) calc(65% - 10px);
    height: 100%;
}


/* ========== Table Container ========== */
.table-container {
    /* overflow-x: auto;
    overflow-y: auto; */
    border-radius: 10px 10px 0 0;
    position: relative;
}

/* Scrollbar Styling */
.table-container::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
.table-container::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 5px;
}
.table-container::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 5px;
    cursor: pointer;
}

/* ========== Table Styles ========== */
.table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

/* Table Header */
.table-container table th {
    text-align: start;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 800;
    color: var(--table-header-text-color);
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: solid 2px #ADADAD;
}

/* Sticky Columns */
/* thead th:first-child,
tbody td:first-child {
     position: sticky;
     left: 0;
     z-index: 3;
     background: var(--table-cell-bg);
}

thead th:last-child,
tbody td:last-child {
     position: sticky;
     right: 0;
     z-index: 3;
     background: var(--table-cell-bg);
} */

/* Table Body */
.table-container table td {
    white-space: nowrap;
    padding: 15px 0;
    border-top: 2px solid var(--table-border-color);
    color: var(--table-text-color);
    background: var(--table-cell-bg);
    border-bottom: solid 2px #ADADAD;
    font-weight: 700;
    font-size: 14px;
}

/* Hover Effect */
.table-container table tr:hover td {
    background: var(--table-hover-bg);
}

/* ========== Extras ========== */
.table-actions {
    gap: 10px;
}

.table-actions button {
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.2s;
}
.table-actions button:hover {
    transform: scale(1.1);
}

.table-actions i {
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.2s;
}
.table-actions i:hover {
    transform: scale(1.1);
}


/* ========== Input Styles ========== */
.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-group label{
    position: relative;
    font-size: 15px;
    font-weight: 600;
}
.input-group label span{
    left: 5px;
    bottom: -16px;
    background: white;
    padding: 0 5px;
    font-size: smaller;
    position: absolute;
    color: var(--color-red-400);
}
.input-group input, .input-group select{
    background-color: #f8f9fa;
    border: solid 1px #c2c4c7;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.input-group textarea{
    background-color: #f8f9fa;
    border: solid 1px #c2c4c7;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    resize: none;
    height: 130px;
}

button{
     cursor: pointer;
}